<ion-header>
  <ion-navbar>
    <ion-title>
      {{user}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-list>
    <ion-item *ngFor="let message of chats">{{message}}</ion-item>
  </ion-list>-->
   <ion-card *ngFor="let chat of chats" [ngClass]="{'myself': chat.id == id}">

    <ion-card-header>
      {{chat.user}}
    </ion-card-header>

    <ion-card-content>
      {{chat.message}}
    </ion-card-content>

  </ion-card>
  <ion-input type="text"
          (keyup.enter)="send(chat_input)"
          [(ngModel)]="chat_input"
          placeholder="Enter a message..."
          class="input_sender">
  </ion-input>
  <button (click)="send(chat_input)" class="img_sender"><ion-icon primary class="icon_submit" name="navigate"></ion-icon></button>
</ion-content>
